Cargo.lock
node_modules
build
*.log
package-lock.json
/target/
*.a
*.dylib
*.so
*.o
src/*
!src/tsp_unicode.h
!src/bsearch.h
parser.c
tree-sitter-perl.wasm
log.html

# Debug and test files
debug_*.js
debug_*.pl
test_*.pl
test_*.js
final_test.pl
test_output.txt
